@model dynamic

<div class="container" data-ng-app="Learning.App1" data-ng-controller="MainCtrl" data-ng-cloak>
    @Html.Partial("_TopBar")
    <div ui-view></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/ng-base")
    <script src="http://rawgithub.com/gsklee/ngStorage/master/ngStorage.min.js"></script>
    @Scripts.Render("~/bundles/ng-services")
    @Html.Partial("_ngHelpers")
    @Scripts.Render("~/bundles/ng-App1")
    @*@Scripts.Render("~/bundles/ng-directives")
    @Scripts.Render("~/bundles/ng-filters")*@
}
